<% include ../partials/header %>
	<div id="marketValues" class="market-values container py-5">
		<h3 class="mb-3 table-title">Market Values</h3>
		<div class="accordion" id="marketValue">
			<div class="card">
				<% for(var i=0; i < markets.length; i++) { %>
				<div class="card-header" id="<%= 'heading-market' + markets[i].id %>">
					<button class="btn-market btn btn-link d-flex justify-content-between w-100" type="button" data-toggle="collapse" data-target="<%= '#collapse-market' + markets[i].id %>" aria-expanded="false" aria-controls="<%= 'collapse-market' + markets[i].id %>">
						<div class="left-side-els">
							<img width="36" src="<%= '/images/markets/' + markets[i].id + '.png' %>">
							<span><%= markets[i].symbol %></span>
							<span><%= markets[i].name %></span>
						</div>
						<div class="right-side-els">
							<span><%= markets[i].price %> $</span>
							<!-- <span v-if="following.some(market => market.id == data.id) || setToFollow.some(market => market.id == data.id)"><i class="material-icons pt-1">bookmark</i></span>
							<span v-else><i class="material-icons pt-1">bookmark_border</i></span> -->
						</div>
					</button>
				</div>
				<div id="<%= 'collapse-market' + markets[i].id %>" class="collapse" aria-labelledby="<%= 'heading' + markets[i].id %>" data-parent="#marketValue">
					<div class="card-body d-flex flex-column align-items-end">
						<%= markets[i].description %>
						<div>
							<!-- <button class="bookmark-button" v-if="following.some(market => market.id == data.id) || setToFollow.some(market => market.id == data.id)" v-on:click="removeFromBookMarks(data.id)">Remove from Bookmark</button> -->
							<!-- <button class="bookmark-button" v-else v-on:click="addToBookmarks({id: data.id, name: data.name, symbol: data.symbol})">Add to Bookmark</button> -->
						</div>
					</div>
				</div>
				<% }; %>
			</div>
		</div>
	</div>
<% include ../partials/footer %>